.App {
  text-align: center;
}

:root {
  --black-color: #000;
}



.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
  background-color: black;
  overflow-x: auto; /* Enable horizontal scrolling */
  /* white-space: nowrap;  */
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
